<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khoa.project1_splitthebill">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".SplashAnimation"></activity>
        <activity android:name=".ExtractFinalBill" />
        <activity android:name=".InputAmountTip" />
        <activity android:name=".InputAmountPeople" />
        <activity android:name=".InputAmountMoney" />
        <activity android:name=".LoadingScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalculateHomeActivity" />
    </application>

</manifest>